html, body {
  margin: 0;
  padding: 0;
}

 /* Header */

.header-style {
  height: 100px;
  display: flex;
  padding: 0px 50px 0px 50px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.header-button-style {
  min-width: 130px;
  height: 20px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 1px solid #000;
  color: #000;
  background: transparent;
  z-index: 0;
}

.header-button-style:hover:after {
  top: 0;
  left: 0;
}

.header-button-style:after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
  background-color: #ced4da;
}

.header-main-logo {
  height: 80px;
}

 /* Homepage */

.home-main-div {
  height: 80vh;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-words {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-typing-picture-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-typing-picture {
  height: 300px;
  background-color: blue;
}

.SAP-logo {
  height: 100px;
}

.linkedin-logo {
  height: 110px;
  margin-right: 20px;
  transition: transform 0.3s ease; 
}

.linkedin-logo:hover {
  transform: scale(1.1);
}

.github-logo {
  height: 80px;
  transition: transform 0.3s ease; 
}

.github-logo:hover {
  transform: scale(1.1);
}

 /* Contact Me Page */

.contact-me-div {
  height: 80vh;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.contact-me-form {
  height: 80vh;
  width: 50%;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-boxes {
  margin: 0px 0px 20px 0px;
}

.form-boxes label {
  display: block;
  margin-bottom: 5px;
}

.form-boxes input,
.form-boxes textarea {
  width: 70%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-boxes textarea {
  resize: vertical;
}

.form-boxes div {
  position: relative;
}

.form-boxes div div {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #666;
}

.contact-me-photo {
  height: 400px;
}

/* Project Page */
.project-main-div {
  height: 80vh;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.projects-word {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
 /* General CSS */
.cursive {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
}

.two-bit-font {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
}

.gabarito-font {
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.autor-one-font {
  font-family: "Autour One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.big-font {
  font-size: 50px;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.underline {
  position: relative;
  text-decoration: none;
  color: black; 
}

.underline::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 5px; 
  background-color: maroon;
  transition: width 0.5s ease;
}

.underline:hover::before {
  width: 100%;
  height: 5px;
}

/* Standard Button Design */
.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}